*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background-image: url(../Images/Back1.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}
.nav-bar{
	height: 100px;
	width: auto;
	background: rgba(0,0,0,0.4);
}
.logo{
	width: 80px;
	height: auto;
	padding: 10px 90px;
}
.nav-bar ul{
	float: right;
	margin-right: 50px;
}
.nav-bar ul li{
	list-style: none;
	margin: 0 10px;
	display: inline-block;
	line-height: 80px;	
}
.nav-bar ul li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 6px 13px;
	font-family: 'Plateia';
	transition: .2s;
}
.nav-bar ul li a:hover{
	background: rgba(0, 140, 255, 0.301);
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Plateia';
	user-select: none;
}
.center h1{
	color: white;
	font-size: 69px;
	font-weight: bold;
	width: 900px;
	text-align: center;
}
.center .button{
	margin: 38px 280px;
}
.Click .button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	color: rgb(8, 15, 15);
	border: 1px solid;
	outline: none;
	border-radius: 25px;
}
.Click .button{
	text-align: center;
	margin-left: 42%;
}
.Click .button:hover{
	background: #0985d836;
}