*{
	padding: 0;
	margin: 0;
    font-family: "Plateia";
}
@media screen and (max-width:1920px){
body{
    background-image: url(../Images/Back1.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    padding: 70px;
    margin-left: 150px;
}
.profile{
    width: 400px;
    background-color: rgba(0,0,0,0.6 ) ;
    padding: 30px 10px;
    border-radius: 10%;
}
img{
    height: 250px;
    border-radius: 60%;
}
.profile_text{
    line-height: 1.9em;
    margin-bottom: 20px;
}
.profile_text h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-top: 5px;
}
.profile_text h3{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
}
i{
    color: whitesmoke;
}
.nav_bar{
    height: 100px;
    width: auto;
    background: rgba(0,0,0,0.4 );
}
.nav_bar ul{
	float: right;
	margin-right: 70px;
    margin-top: -3.9%;
    padding: 20px;
}
.nav_bar ul li{
	list-style: none;
	margin: 0 10px;
	display: inline-block;
	line-height: 1px;	
}
.nav_bar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 5px 13px;
	font-family: 'Plateia';
	transition: .2s;
}
.nav_bar ul li a:hover{
	background: rgba(0, 140, 255, 0.301);
	border-radius: 4px;
}
.nav_bar h2{
    color: whitesmoke;
    padding: 20px;
    font-size: 200%;
    font-family: 'Plateia';
}
.nav_left{
    width: 350px;
    height: auto;
    position: absolute;
    top: 90;
    left: 1;
    padding: 10;
    margin-top: 10%;
    background: rgba(0,0,0,0.6 );
}
.nav_left a{
    text-decoration: none;
    font-size: 23px;
    font-family: 'Plateia';
    font-weight: bold;
    width: 100%;
    height: 90px;
    margin: 3px 0;
    color: whitesmoke;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    transition: 300ms;
}
.nav_left a:hover{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.nav_left .edu{
    width: 95%;
}
.nav_left2{
    width: 350px;
    height: auto;
    position: absolute;
    top: 90;
    left: 1;
    padding: 10;
    margin-top: 16%;
    background: rgba(0,0,0,0.6 );
}
.nav_left2 a{
    text-decoration: none;
    font-size: 23px;
    font-family: 'Plateia';
    font-weight: bold;
    width: 100%;
    height: 90px;
    margin: 3px 0;
    color: whitesmoke;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    transition: 300ms;
}
.nav_left2 a:hover{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.nav_left2 .fam{
    width: 95%;
}
.nav_left3{
    width: 350px;
    height: auto;
    position: absolute;
    top: 90;
    left: 1;
    padding: 10;
    margin-top: 22%;
    background: rgba(0,0,0,0.6 );
}
.nav_left3 a{
    text-decoration: none;
    font-size: 23px;
    font-family: 'Plateia';
    font-weight: bold;
    width: 100%;
    height: 90px;
    margin: 3px 0;
    color: whitesmoke;
    line-height: 90px;
    text-align: center;
    display: inline-block;
    transition: 300ms;
}
.nav_left3 a:hover{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.nav_left3 .favo{
    width: 95%;
}
}
